body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
/*    display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginBox{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
    display: none;
}

.signup-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #218838;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
