@charset "UTF-8";
form {
  text-align: center;
  position: relative; /* 今の位置を基準 */
top: 200px; /* 上から10px */
}
  h1 {
  font-size: 3em; /* サイズを大きくする */
}

 p {
  font-size: 24px; /* フォントサイズを24pxに設定 */
     margin-bottom: 0px; 
     margin-right: 600px;
     margin-left:0px;
    }

.login_form_btm {
  padding: 20px 0;
  margin: 10px 0;
  line-height: 10px; 
}

input {
  width: 800px;
  padding: 20px;
  margin: 30px 0;
  line-height: 5px; 
   margin-top: 0px;
}
button {
            font-size: 20px; /* フォントサイズを20pxに設定 */
            padding: 15px 30px; /* 内側の余白を設定（上下15px、左右30px） */
            width: 200px; /* 幅を200pxに設定 */
            height: 50px; /* 高さを50pxに設定 */
            cursor: pointer; /* カーソルをポインタに変更 */
            border-radius: 5px; /* 角を丸くする */
            font-weight: bold; /* フォントを太字にする */
        }